h2.title {
    padding: 20px;
    font-size: 1.4em;
    font-weight: 700;
    color: #484848;
    background-color: #f6f8f9;
    border-radius: 10px 10px 0 0;
}
.content {
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background-color: #fff;
}

.q-notifications__list--top {
    top: $header-height;
}

.text-gray-4 {
    color: $gray-4 !important;
}
.bg-gray-4 {
    background: $gray-4 !important;
}
.text-gray-5 {
    color: $gray-5 !important;
}
.bg-gray-5 {
    background: $gray-5 !important;
}

.q-dialog-plugin {
    min-width: 500px;
    .q-dialog__title {
        font-size: 26px;
        font-weight: 700;
        color: $black;
    }
    .q-icon {
        align-self: flex-start;
    }
    .q-card__section--vert {
        padding: 20px;
    }
    .q-card__actions {
        padding: 0 20px 20px;
        .q-btn--rectangle {
            min-width: 84px !important;
        }
    }
}

.status-box {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    margin: 20px 0;
    padding: 12px 24px;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    background: #e9e9e9;
    strong {
    }
}
.filter-section {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.common-btn-area {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}
.custom-modal {
    .header {
        height: auto;
        padding: 20px 15px;
        background: #efefef;
        border-bottom: 1px solid #c5c5c5;
        .title {
            font-weight: 700;
            font-size: 18px;
        }
    }
}
