h2.title {
    padding: 20px;
    font-size: 1.4em;
    font-weight: 700;
    color: #484848;
    background-color: #f6f8f9;
    border-radius: 10px 10px 0 0;
}
.content{
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background-color: #fff
}
